@charset "utf-8";

/**
* Common layout
*/
#main-header {
    margin-bottom: 2rem;
}

#header-description {
    color: #18bc9c;
}

/**
* Home layout
*/
#main-contents {
    position: relative;
}

#tiles li {
    width: 280px;
    /*background-color: #ffffff;*/
    /*border: 1px solid #dedede;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/
    /*border-radius: 2px;*/
    /*display: none;*/
    /*cursor: pointer;*/
    /*padding: 4px;*/
    margin: 10px 0;
    padding: 10px 10px 20px 10px;
}

#tiles li img {
    display: block;
}

/**
* Detail layout
*/
#title-link{
    color: inherit;
}

#detail {
    /*box-shadow: 0 0 10px;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #dedede;*/
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/
    /*border-radius: 2px;*/
    /*cursor: pointer;*/
    /*padding: 4px;*/
    overflow: hidden;
    padding-top: 15px;
}

#detail-img {
    margin-right: 15px;
}

#detail-sub {
    width: 480px;
    max-width: 100%;
}

#detail-username {
    margin-left: 1rem;
}

#detail-time {
    margin-top: 1rem;
}

#detail-caption {
    margin-bottom: 15px;
}

.box {
    float: left;
}

/**
 * SNS buttons
 */
#sns-buttons {
    overflow: hidden;
    margin-top: 1rem;
}

#sns-buttons li {
    float: left;
}

#sns-buttons iframe {
    margin: 0 !important;
}