<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>捨て猫ちゃん</title>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]><script src="{{ STATIC_URL }}js/html5shiv.js"></script><![endif]-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
    <link rel="canonical" href="http://{{ host }}{{ path_info }}">

    <meta name="keywords" content="捨て猫 里親 子猫 猫">
    <meta name="description" content="{{ item.caption }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="捨て猫ちゃん" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ host }}{{ path_info }}" />
    <meta property="og:image" content="{{ item.image_url }}" />
    <meta property="og:title" content="捨て猫ちゃん - {{ item.caption }}" />
    <meta property="og:description" content="{{ item.caption }}" />

{#    <meta property="fb:admins" content="1774920422" />#}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@fuzzy31u">
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=311235445710997&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header>
    <div id="main-header">
        <div class="container">
            <h1><a href="/" id="title-link">捨て猫ちゃん<small> Beta</small></a></h1>
        </div>
    </div>
{#    <div class="container">#}
{#        <nav>#}
{#            <ul class="nav nav-pills">#}
{#                <li><a href="#">Login</a></li>#}
{#                <li><a href="#">Logout</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}
</header>

<div class="container">
    <div id="detail" class="panel panel-default container">
        <div id="detail-img" class="box">
            <a href="{{ item.link }}" class="thumbnail" target="_blank">
                <img src="{{ item.image_url }}" width="600px" class="img-responsive"/>
            </a>
        </div>
        <div id="detail-sub" class="box">
            <img src="{{ item.user_profile_url }}" width="50px" height="50px"/>
            <span id="detail-username">
                <a href="http://instagram.com/{{ item.user_name }}" target="_blank">{{ item.user_name }}</a>
            </span>
            <p id="detail-time"><small>{{ item.create_time }}</small></p>
            <hr>
            <div id="detail-caption">{{ item.caption }}</div>
            <ul id="sns-buttons" class="list-unstyled">
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="suteneko">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                <li><div class="fb-like" data-href="http://{{ host }}{{ path_info }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>